<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">


        <!-- font -->
    <link rel="stylesheet" href="{{'fonts.css' | asset_url}}">
    <!-- Icons -->
    <link rel="stylesheet" href="{{'font-icons.css' | asset_url}}">
    <link rel="stylesheet" href="{{'bootstrap.min.css' | asset_url}}">
    <link rel="stylesheet" href="{{'swiper-bundle.min.css' | asset_url}}">
    <link rel="stylesheet" href="{{'animate.css' | asset_url}}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{{'styles.css' | asset_url}}" /> {% endcomment %}
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <!-- Favicon and Touch Icons  -->

    <!-- Javascript -->
    <script src="bootstrap.min.js" defer></script>
    <script src="jquery.min.js" defer></script>
    <script src="swiper-bundle.min.js" defer></script>
    <script src="carousel.js" defer></script>
    <script src="bootstrap-select.min.js" defer></script>
    <script src="lazysize.min.js" defer></script>
    <script src="bootstrap-select.min.js" defer></script>
    <script src="count-down.js" defer></script>
    <script src="wow.min.js" defer></script>
    <script src="multiple-modal.js" defer></script>
    <script src="{{'main.js' | asset_url}}" defer></script>

    {{ content_for_header }}



 
 
  </head>

  <body class="gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}">
    


    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>








  </body>
</html>
